@layer header {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 4em;
    position: sticky;
    top: 0;
    gap: 0.6em;
    background: #242424;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    z-index: 99;
  }

  .user,
  .menu {
    position: relative;
    padding: 0.6em 1.4em;
    white-space: pre;
  }

  .menu {
    justify-content: center;
    height: 40.4px;
  }

  .user:hover,
  .menu:hover {
    background-color: rgba(128, 128, 128, 0.134);
  }

  .user:focus,
  .menu:focus {
    outline-color: gray;
  }

  .user > span {
    padding-left: 1.2em;
  }
}
