@layer button {
  .button {
    appearance: none;
    display: flex;
    justify-content: space-between;
    gap: 0.4em;
    flex-basis: 1;
    position: relative;
    border: none;
    background-color: var(--background-color-white);
    font-size: 1.5em;
    font-family: inherit;
    height: 28px;
    padding-inline: 0.8em;
    width: fit-content;
    cursor: pointer;
    outline: 2px solid transparent;
    transition: outline-color 250ms ease;
  }

  .button::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 100%;
    inset: 0;
    border: 1px solid var(--border-color-light);
    opacity: 0.5;
    border-radius: 5px;
  }

  .button > *:first-child {
    height: 28px;
    width: 28px;
    display: flex;
    place-items: center;
    justify-content: center;
  }

  .button > *:last-child {
    height: 28px;
    flex: 0.9;
    white-space: pre;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button > *:first-child:is(:empty) {
    display: none;
  }

  .button > *:last-child:is(:empty) {
    display: none;
  }

  .button:hover {
    background-color: rgba(128, 128, 128, 0.134);
  }
}
